.ui.secondary.pointing.menu { 
    background:#00223a url('img/header-BG.jpg') no-repeat center center;
    height: 200px;
    padding-left: 10%;
    padding-right: 10%; 
    margin-top: 0;
}

a {
    color: #eeeeee!important;
}

p {
    font-size: 18px;
    line-height: 2;
}

h1 {
    font-size: 3rem;
}

.footer {
    padding: 40px 10%;
    background-color:#00223a;
    position: fixed;
    left: 0;
    bottom: 0; 
    margin-top: 40px;
    width: 100%;
    z-index: 999;
}

.footer p { 
    font-size: 13px;
    color: #666666;
    line-height: 1.6;
}

.footer p strong { 
    font-weight: bolder;
    color: #cccccc;
}

.footer-left, .footer-right {
    display: block;
}

.footer-left {  width:75%; float: left; padding-bottom: 40px;  }
.footer-right {  width: 25%; float: right;   }
.footer-right span { white-space: nowrap; }

.siteName { width: 82%; 
    display: block; 
    margin: 0 auto; 
    color: #002946; 
    font-size: 72px; 
    padding: 0; 
    line-height: .75;  
}

.page-title {
    display: block !important;
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
}

.form-container {
    width: 400px;
    margin: auto;
}

.ui.teal.button:focus, 
.ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}

.ui.grid>.row {
    width: 80%!important;
    margin: 0 auto;
}